* {
  font-family: "Kalam", cursive;
}

#main {
  background-image: url("https://cdn.pixabay.com/photo/2014/01/30/18/26/skyline-255116_1280.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}

#mainOverlay {
  width: 100%;
}
html[data-bs-theme="light"] #mainOverlay {
  background-color: #ffffffe0;
}
html[data-bs-theme="dark"] #mainOverlay {
  background-color: #000000b3;
}
html[data-bs-theme="light"] footer {
  background-color: #ffffff;
}
html[data-bs-theme="dark"] footer {
  background-color: #000000;
}
html[data-bs-theme="dark"] input {
  box-shadow: 0 0 10px 0 #ffffff;
}
html[data-bs-theme="light"] input {
  box-shadow: 0 0 10px 0 #040303;
}
html[data-bs-theme="light"] .textInfo {
  color: #000000;
}
html[data-bs-theme="dark"] .textInfo {
  color: #6edff6;
}
